<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>run.killmouseaccel</string>
        <key>OnDemand</key>
        <false/>
        <key>UserName</key>
        <string><!-- Here put the user name --></string>
        <key>GroupName</key>
        <string><!-- Here put the group name --></string>
        <key>ProgramArguments</key>
        <array>
            <string><!-- Here put the full path of the killmouseaccel command. Pay attention to the new lines. --></string>
            <string>mouse</string>
        </array>
    </dict>
</plist>
